body {background-color:darkblue;color:white;
}


h1  
{
    position: relative;
    left: 16em;
    top: 0em;
    color: rgb(247, 241, 245);}

    #userinput 
    {
    position:relative;
    color: rgb(219, 218, 233);
    font-size: 2em;
    }

    img {
        border-radius: 80%;
        max-width: 20%;
        height: 40%;
        float: left;
      }

     